body {font-family: 'Arial'; font-size: 16px;}
.canvas {width: 100%; max-width: 500px; margin: 50px auto 0; border: 2px dashed #ccc; border-radius: 16px;}

.content {padding: 50px 30px;}
a {text-decoration: none;}


.content button {margin: 10px;}
.steps-wrapper {background-color: #eee; text-align: center; border-radius: 10px;}
.steps-wrapper li {display: inline-block; padding: 5px;}
.steps-wrapper li.selected {font-weight: bold; text-decoration: underline;}

.step1, .step2, .step3, .step4 {display: none;}

.step_wizard_control {border-top: 2px solid #ccc; margin-top: 20px;}
.next, .prev {padding: 8px 16px; margin: 25px 10px; display: inline-block; background: #4198E6; color: #fff; border-radius: 4px;}
